@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-bg-color:#F3EDE5;
  --drop-down-bg-color:#FFFFFF;
  --button-active-color:#133416;
  --font-color-headline:#010101;
  --font-color-basic:#8A8887;
  --font-color-dropdown-header:#0A263F;
  --font-color-dropdwon-basic:#C8CFD4;
  --font-color-highlight:#F7B301;

  --font-basic: 'Roboto', sans-serif;
}