@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-bg-color:#EEEAE2;
  --drop-down-bg-color:#FFFFFF;
  --button-active-color:#133416;
  --font-color-headline:#010101;
  --font-color-basic:#6C6C6C;
  --font-color-dropdown-header:#0A263F;
  --font-color-dropdwon-basic:#C8CFD4;
  --font-color-highlight:#F7B301;

  --font-basic: 'Inter', sans-serif;
}