@import '/src/styles/_variables.css';


.appwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100dvh;
  max-width: 1200px;
}

@media (min-width: 35em)
{}