@import './_variables.css';
@import './reset.css';
@import './App.css';
@import './Button.css';
@import './Navbar.css';
@import './Home.css';



:root {
  font-family: var(--font-basic);
  color: var(--font-color-basic);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
}

@media (max-width: 25em)
{

}

@media (max-width: 30em)
{

}



@media (min-width: 35em)
{

  .products,
  .challenges,
  .resources,
  .other-links {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: var(--main-bg-color);
  }

}


