
/* :root{ max-width: 1300px;} */

.home-wrapper {
  width: 100vw;
  max-width: 1600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 200px;
  background-color: var(--main-bg-color);
}

.rating-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.upper, .lower {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
}


section :where(h1){
  font-size: 35px;
  font-weight: 700;
  font-family: var( --font-basic);  
  color: var(--font-color-headline)
}

p {
  font-size: 16px;
  font-weight: 400;
  font-family: var( --font-basic);
  color: var(--font-color-basic);
  line-height: 1.5em;
}


h1 :where(span){
  color: var(--font-color-highlight)
}

.rating {
  display: flex;
  gap: 20px;
}

.rating > span {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.lower {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 20px;
}



.lower :where(.logos){
  display: grid;
  grid-template-columns: minmax(100px, 45%)repeat(auto-fill, minmax(100px, 45%));
  gap: 20px;
}

.lower > .logos > svg {
  display: flex;
  justify-content: center;
  align-items: center;

}

@media (min-width: 300px) and (max-width: 600px)
{

  .home-wrapper{
    padding: 10px;
    height: 80vh;
    gap: 100px;
  }

  
  .upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 10px;
  }

  .home-wrapper-left,
  .home-wrapper-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .home-wrapper-left :where(h1){
    font-size: 40px;
  }

  .home-wrapper-left :where(p){
    font-size: 15px;
  }

  .home-wrapper-left :where(.btn){
    display: flex;
    padding: 20px 40px;
  }

  .rating-container {
    width: 100%;

  }

  img {
    display: none;
  }

}

@media (min-width: 600px) and (max-width: 800px)
{

  .home-wrapper{
    align-items: center;
    padding: 50px;
    gap: 100px;
    height: 90vh;
  }
    
  .upper {
    width: 100%;
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .home-wrapper-left :where(h1){
    font-size: 40px;
  }

  .home-wrapper-left :where(p){
    font-size: 15px;
    width: 80%;
  }

  .rating-container {
    width: 100%;
  }
 

  .home-wrapper-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
 }

 .home-wrapper-right {
  display: flex;
  flex-direction: column;
  overflow: hidden;

 }

  img {
    min-width: 300px;
    max-width: 600px;
    aspect-ratio: 1/1;
  }

  .lower {
    align-items: center;
    gap: 30px;
  }

  .lower :where(.logos){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
  }

  .lower :where(svg){
    width: calc(100vw * 0.30);
    height: 100px;
  }

}


@media (min-width: 1000px)
{

  .home-wrapper{
    align-items: center;
    padding: 50px;
    justify-content: space-between;
    height: 90vh;
  }
    
  .upper {
    width: 100%;
    display: grid;
    flex-direction: row;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;
  }

  .home-wrapper-left :where(h1){
    font-size: 65px;
  }

  .home-wrapper-left :where(p){
    font-size: 20px;
    width: 80%;
  }

  .rating-container {
    width: 100%;
  }
 

  .home-wrapper-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
 }

 .home-wrapper-right {
  display: flex;
  flex-direction: column;
  overflow: hidden;

 }

  img {
    min-width: 300px;
    max-width: 600px;
    aspect-ratio: 1/1;
  }

  .lower {
    align-items: center;
    gap: 30px;
  }

  .lower :where(.logos){
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }

  .lower :where(svg){
    width: calc(100vw * 0.20);
    height: 60px;
  }

}
