@import '../styles/_variables.css';


.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rating-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 20px;
}

.upper, .lower {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.lower {
  position: absolute;
  bottom: 100px;
  left: 0;
}

aside {
  display: none;
}

section :where(h1){
  width: 90%;
  font-size: 35px;
  font-weight: 700;
  font-family: var( --font-basic);
}

p {
  font-size: 16px;
  font-weight: 400;
  font-family: var( --font-basic);
  color: var(--font-color-basic);
  line-height: 1.5em;
}

.test {
  width: 125px;
  height: 50px;
  border-radius: 3px;
  text-align: center;
  font-family: var(--font-basic-arial);
  color: var(--drop-down-bg-color);
  background-color: var(--button-active-color);
}

section > h1 :where(span){
  color: var(--font-color-highlight)
}

.rating {
  display: flex;
  gap: 20px;
}

.rating > span {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.lower {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 20px;
}



.lower :where(.logos){
  display: grid;
  grid-template-columns: minmax(100px, 45%)repeat(auto-fill, minmax(100px, 45%));
  gap: 20px;
}

.lower > .logos > svg {
  display: flex;
  justify-content: center;
  align-items: center;

}

@media (max-width: 30em)
{
  .lower :where(svg){
    width: calc(100vw * 0.38);
  }

}

@media (max-width: 25em)
{
  .upper, .lower {
    gap: 20px;
  }

  section :where(h1){
    width: 80%;
    font-size: 25px;
  }

  .rating > span {
    gap: 5px;
  }
  
  p { 
    font-size: 14px;
    font-weight: 500;
  }

  button {
    width: 120px;
    height: 45px;
    font-size: 14px !important; 
    font-weight: 500;
    margin: 10px;
  }
}