

.navbar {
  max-width: 1600px;
  width: 100dvw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: var(--main-bg-color);

}


.dropdown-list {
  position: absolute;
  width: 500px;
  top: 70px;
  left: 0;
  list-style: none;
  text-align: start;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--drop-down-bg-color);
  z-index: 99;

}

.dropdown-list li {
  background: #1B1919;
  cursor: pointer;
}

.dropdown-list li:hover {
  background: #5cabff;
}

.dropdown-list.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

.product-dropdown-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-item-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 16px;
}

.product-dropdown-item {
  padding: 10px;

}

.product-dropdown-item > p {
  padding-left: 25px;
  font-size: 14px;
}




@media (max-width: 1000px)
{
  .btn,
  .navbar > a .btn::before {
    display: none;
  }

  .navbar {
    justify-content: space-between;
    padding: 0 20px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    border: 1px solid black;
    border-radius: 25% 10%;
    transition: all 0.5s ease;
    font-size: 2rem;
  }

  .nav-items.active{
    background: var(--drop-down-bg-color);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-link {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
    color: var(--font-color-headline);
    font-weight: 600;
  }

  .nav-link:hover {
    background-color: var(--drop-down-bg-color);
    border-radius: 15px;
  }

 
 }


@media (min-width: 1000px){

  .navbar {
    justify-content: space-between;
    padding: 0 50px;
  }

  .menu-icon {
    display: none;
  }

  .navbar > .nav-items {
    display: grid;
    width: 600px;
    height: 100%;
    align-items: center;
    grid-template-columns: repeat(5, auto);
    grid-gap: 40px;
    list-style: none;
    text-align: center;
    justify-content: end;
    position: relative;
  }

  .nav-item {
    height: 80px;
    display: flex;
    align-items: center;
  }

  .nav-item > a {
    font-weight: 500;
  }

  .btn{
    position: relative;
  }

  .navbar > a .btn::before {
    content:'Sign in';
    position: absolute;
    color: var(--font-color-basic);
    font-weight: 500;
    top:  50%;
    left: 0%;
    transform: translate(-120%, -50%);
  }

  /* .dropdown-list {
    display: none;
  } */

}



