@import '../styles/_variables.css';

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}

.navbar > .logo > svg {
  width: 150px;
}

.navbar > .signInBtn::before{
  content: 'Sign in';
  color: var(--font-color-basic);
  font-size: 14px;
  position: absolute;
  top: 50%;
  left:-20%;
  padding-right: 30px;
  transform: translate(-35%, -50%);
}

.closeBtn {
  display: none;
}


.navbar > .nav-menu {
  display: flex;
  flex-wrap:wrap-reverse;
  flex-basis: 400px;
  width: clamp(300px, 600px, 800px );
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin: 0px 100px;
  font-weight: 500;
  font-family: var(--font-basic);
  color: var( --font-color-basic);
}


.navbar .nav-menu-item {
  position: relative;
}

.product-dropdown {
  display: none;
}

@media (max-width: 550px)
{ 
  .navbar > .nav-menu { 
    display: none
    
  }

  .signInBtn { 
    display: none
  }

  .navbar {
    height: 80px;
    justify-content: space-between;
    position: relative;
    padding: 20px 20px 20px 0;
  }

  .burgermenu {
    background-image: url("/public/Menu.svg");
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
  }

  .navbar > .nav-menu.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--main-bg-color);   
    color: var(--font-color-dropdown-header);
    font-size: 19px;
    font-weight: 600;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
  }


  .nav-menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    position: relative;
  }

  .product-dropdown.active {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    background-color: var(--drop-down-bg-color);
  }

  .closeBtn {
    display: flex;
    width: 50px;
    height: 50px; 
    background: url('/public/Close.svg') center/contain no-repeat; 
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }


  .product-dropdown-item {
    display: flex;
    flex-direction: column;
    gap: 5px;

  }

  .product-dropdown-item > p {
    font-size: 14px;
  }

}


@media (min-width: 550px) and (max-width: 800px) {
  .signInBtn{
    font-size: 14px;
  }
}


@media (min-width: 600px){

.navbar .nav-menu-item:hover {
  display: flex;
  cursor: pointer;
} 

.signInBtn{
  font-size: 16px;
}

.product-dropdown.active {
  display: block;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  gap: 30px;
  border-radius: 20px;
  background-color: #ffff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 15%);
}
  
  .product-item-header{
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .product-dropdown-item > p {
    font-size: 14px;
    padding-left: 20px;
  }
}



