@import '/src/styles/reset.css';

#root {
  display: flex;
  justify-content: center;
  background-color: var(--main-bg-color);
}


button {
  width: 150px;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  font-size: 19px !important; 
  font-weight: 500;
  font-family: var(--font-basic);
  color: var(--drop-down-bg-color);
  background-color: var(--button-active-color);
  position: relative;
}