@import '/src/styles/reset.css';

#root {
  display: flex;
  justify-content: center;
  background-color: var(--main-bg-color);
}


button {
  width: 130px;
  min-width: 100px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-family: var(--font-basic);
  font-size: minmax(12px, 18px);
  color: var(--drop-down-bg-color);
  background-color: var(--button-active-color);
  position: relative;
}